.about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    min-height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 1)) ,url(image/BGimg.jpg);
}

.about .box2{
    display: flex;
    
    
    height: 100%;
    width: 100%;
    align-items: center;
    border-radius: 15px;
    
}

.aboutimage{
    max-width: 27em;
    min-width: 20em;
    max-height: 37em;
    min-height: 30em;
    
    border-radius: 20px;
    margin: auto;
}

.about .aboutimg{
    display: flex;
    width: 50%;
    padding: 20px;
    
    
}

.about .abouttxt{
    width: 50%;
    
    
}

.aboutheader{
    width: 100%;
    padding: 20px 0px 0px 2rem;
    font-size: 2rem;
    color: #FF7518;

}

.aboutdesc{
    width: 100%;
    padding: 40px 30px 0px 2rem;
    font-size: 1rem;
    color: white;
    
}

.aboutdesctitle{
    font-size: 1.5rem;
    
} 

.descp{
    font-size: 1rem;
    line-height: 25px;
    word-spacing: 2px;
    
}

.abtresumebtn{
    padding: 40px 30px 0px 30px;
    display: flex;
    justify-content: center;
    
}
.abtresumebtn.abtresume{
    width: 50%;
    
}
.abtresumebtn.abtcontact{
    width: 50%;
}
.abtresumebtn button {
    background-color: #d65a31;
    border: none;
    color: white;
    padding: 15px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 6px;
    cursor: pointer;
    border-radius: 40px;
    text-transform: uppercase;
    display: flex;
    
    
  }
  
.abtresumebtn button:hover{
    background: #FF7518;
}

@media (max-width: 992px){
	
    
    .abtresumebtn button {
        padding: 10px 30px;
        margin: 0px 6px;
    }
    
    
}

@media (max-width: 728px){
	

    .about{
        padding: 0px;
        padding-top: 25px;
    }
    .abtresumebtn button {
        padding: 7px 10px;
        margin: 0px 6px;
        font-size: 1rem;
    }
    .about .box2{
        margin-top: 10%;
        display: inline-block;
        height: auto;
        width: auto;
        
    }

    .aboutimage{
        height: 40%;
        width: 90%;
    }
    .about .aboutimg{
        margin: auto;
        width: 100%;
        height: 40%;
    }
    .about .abouttxt{
        margin: auto;
        width: 90%;
        font-size: 0.5rem;
    }
    
    .aboutdesc{
        padding: 20px 0px 0px 0px;
        text-align: none;
        word-spacing: normal;
        font-size: 0.8rem;
        
    }
    .descp{
        font-size: 0.8rem;
    }
    .aboutheader{
        padding: 0px;
        padding-top: 20px;
        font-size: 1rem;
    }
    .aboutheader h1{
        
        text-align: center;
        
    }
}
