/* home page */
.home{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    padding: 25px;
    min-height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 1)) ,url(image/BGimg.jpg);
}


.home .box{
    margin-top: 10%;
    display: flex;
    height: 25rem;
    width: 70rem;
    
}


.profilepic{
    width: 20rem;
    height: 20rem;
    border-radius: 20px;
    transition: 0.5s ease-out;
    filter: blur(5px);
    
}

.profilepic:hover{
    cursor: pointer;
    transition: 0.5s ease-out;
    transform: translate(5%, -5%);
    filter: none;
}
.item{
    font-size: 2rem;
    color: white;
}
.box .item{
    width: 60%;
    align-items: center;
    padding-left: 20px;
    margin: auto;
    
}


.box .home_image{
    width: 40%;
    padding-left: 1rem;
    align-items: center;
    display: flex;
}

/* end home page */

@media (max-width: 992px){
	
    /* home page */

    .box .home_image{
        width: 50%;
        padding: 0px;
    }
    /* end home page */
}

@media (max-width: 728px){
	
    /* home page */
    .home .box{
        margin-top: 10%;
        display: inline-block;
        height: auto;
        width: auto;
        
    }
    .profilepic{
        width: auto;
        height: 300px;
        margin: auto;
        transform: none;
        transition: none;
        filter: none;
    }
    .profilepic:hover{
        transform: none;
        transition: none;
        filter: none;
    }
    
    .box .home_image{
        width: auto;
        height: auto;
        padding-top: 4rem;
    }
    .box .item{
        width: auto;
        padding: 0px;
        padding-top: 3rem;
        font-size: auto;
        
        
    }
    /* end home page */
    
}

@media (max-width: 460px){
	
    /* title sizing down 0.5  */
    .item{
        font-size: 1.5rem;
    }
    /* end  */
    
}
